.pass-output {
  background: white;
  width: 50%;
  height: 9%;
  border-radius: 15px;
  display: flex;
  align-items: center;

  &__text{
    margin: 1em;
    font-family: Inter, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
  }
}
