.main-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.author{
  display: flex;
  justify-content: center;
  color: white;
  a{
    margin-right: 3px;
    margin-left: 3px;
    color: white;
    &:hover{
      color: indianred;
    }
  }
}
