.main-container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  position: relative;
  bottom: 1.5em;
  display: block;
  text-align: center;
  color: white;
  a {
    color: white;
    &:hover {
      color: green;
    }
  }
}
